<h3>Editar usuario {{user.nickname}}</h3>
<hr />

<form id="edit" name="edit" method="POST">
  <div id="errorDiv" class="alert alert-warning hide">
    <span id="errorMessage"></span>
  </div>
  <div class="form-group hide">
    <label class="col-md-3 control-label text-right" for="_id">ID: </label>
    <div class="col-xs-12 col-md-6 input-group">
      <input type="nickname" class="form-control" id="_id" name="_id" value="{{user._id}}" readonly required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label text-right" for="nickname">Nickname: (no se puede editar)</label>
    <div class="col-xs-12 col-md-6 input-group">
      <input type="nickname" class="form-control" id="nickname" name="nickname" value="{{user.nickname}}" readonly required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label text-right" for="displayName">Nombre: </label>
    <div class="col-xs-12 col-md-6 input-group">
      <input type="displayName" class="form-control" id="displayName" name="displayName" placeholder="Nombre" value="{{user.displayName}}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label text-right" for="email">Correo electrónico: (no se puede editar)</label>
    <div class="col-xs-12 col-md-6 input-group">
      <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label text-right" for="avatar">Avatar: </label>
    <div class="col-xs-12 col-md-6 input-group">
      <input type="text" class="form-control" id="avatar" name="avatar" placeholder="URL Avatar" value="{{user.avatar}}" required>
    </div>
  </div>
  <!-- Date input-->
  <div class="form-group">
    <label class="col-md-3 control-label text-right" for="birthdate">Fecha de nacimiento: </label>
    <div class="col-xs-12 col-md-6 input-group date">
      <input type="text" class="form-control datepicker" id="birthdate" name="birthdate" value="{{user.birthdate}}" readonly required><span
      class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label text-right" for="genre">Género:</label>
    <div class="col-xs-12 col-md-6 input-group">
      <select class="form-control" id="genre" name="genre">
        <option value="No especificado">No especificado</option>
        <option value="Hombre">Hombre</option>
        <option value="Mujer">Mujer</option>
      </select>
    </div>
    <span id="genreHolder" class="hide">{{user.genre}}</span>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label text-right" for="description">Descripción:</label>
    <div class="col-xs-12 col-md-6 input-group">
      <textarea class="form-control" rows="5" id="description">{{user.description}}</textarea>
    </div>
  </div>
</form>
<button id="sendButton" class="btn btn-default">Editar usuario</button>

<br />

<script>
if (window.user != null){
  if (document.forms.edit._id.value != window.user._id && window.user.role.name == "administrator"){
    window.location = "/";
  }}else {
    window.location = "/";
  }

  document.forms.edit.birthdate.value = new Date(document.forms.edit.birthdate.value).toISOString().substr(0, 10);
  document.forms.edit.genre.value = document.getElementById('genreHolder').innerHTML;
  </script>

  <script type="text/javascript">
  var aviso = document.getElementById('errorMessage');
  var avisoDiv = document.getElementById('errorDiv');
  var botonEnviar = document.getElementById('sendButton');

  if (window.user == null){
    avisoDiv.className = "alert alert-warning";
    aviso.innerHTML = "No puedes editar un usuario sin iniciar sesión";
    botonEnviar.className = "btn btn-danger";
    botonEnviar.innerHTML = "Formulario desactivado";
  } else {

    const myHeaders = new Headers();
    myHeaders.append('authorization', `Bearer ${localStorage.token}`);

    const formEdit = document.forms.edit;

    botonEnviar.addEventListener('click', event => {
      event.preventDefault();
      var formData = new FormData();

      formData.append("displayName", formEdit.displayName.value);
      formData.append("avatar", formEdit.avatar.value);
      formData.append("birthdate", formEdit.birthdate.value);
      formData.append("genre", formEdit.genre.value);
      formData.append("description", formEdit.description.value);
      formData.append("email", formEdit.email.value);

      var request = new Request('/api/user/edit/'+document.forms.edit._id.value, {
        method: 'PUT',
        headers: myHeaders,
        body: formData
      });

      fetch(request)
      .then(res => res.json())
      .then(data => {
        if (data.message == null){
          avisoDiv.className = "alert alert-success";
          aviso.innerHTML = "¡usuario actualizado!";

          if (window.user._id == formEdit._id.value)
          window.user.displayName = formEdit.displayName.value;
          window.user.avatar = formEdit.avatar.value;
          window.user.birthdate = formEdit.birthdate.value;
          window.user.genre = formEdit.genre.value;
          window.user.description = formEdit.description.value;
          window.user.email = formEdit.email.value;
          localStorage.setItem('user', JSON.stringify(window.user));

          window.location = "/user/"+formEdit.nickname.value;
        } else {
          avisoDiv.className = "alert alert-warning";
          aviso.innerHTML = data.message;
        }
      })
    })
  }
  </script>
