
  <h3>Eventos</h3>

  <div class="row">
    <div class="[ col-xs-12 col-sm-12 ]">
      <ul id="eventHolder" class="event-list">

  {{#each events}}
        <li>
        <time class="hide">{{date}}</time>
        <time>
        <br />
        <span class="day"></span>
        <span class="month"></span>
        <span class="year"></span>
        </time>
        <img alt="{{name}}" src="{{picture}}" />
        <div class="info">
        <h2 class="title"><a href="/event/{{_id}}">{{name}}</a></h2>
        <p class="desc">{{description}}</p>
        <div class="row">
          <div class="col-xs-12">
        <div class="col-xs-6"><small><a class="nickname" href="user/{{user.nickname}}"><span class="glyphicon glyphicon-user"></span>{{user.displayName}}</a></small></div>
        <div class="col-xs-6"><span class="label label-primary">{{tag.name}}</span></div>
      </div>
      </div>
        </div>
        </li>
      {{/each}}

      </ul>
    </div>
  </div>
  <hr>

  <h3>¿Quieres crear tu propio evento?</h3>
  <a href="/newevent" class="btn btn-primary btn-lg btn-block">Crear nuevo evento</a>

  <script type="text/javascript">

  var eventos = document.getElementById('eventHolder').getElementsByTagName('li');
  var meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

  for (var i=0; i<eventos.length; i++){
    var fecha = new Date(eventos[i].getElementsByTagName('time')[0].innerHTML);

    var spans = eventos[i].getElementsByTagName('span');
    spans[0].innerHTML = fecha.getDate();
    spans[1].innerHTML = meses[fecha.getMonth()];
    spans[2].innerHTML = fecha.getFullYear();
  }

  </script>
